.media-tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.media-tab-title {
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 0;
    margin-top: 1rem;
}

.media-tab-index {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
}

.video-card {
    margin: 0.5rem;
}

.film-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
}