.footer-container {
    background-color: #171717;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-primary-title {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: aliceblue;
    font-weight: 200;
    line-height: 1.334;
    letter-spacing: 0em;
}

.footer-secondary-title {
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: aliceblue;
    font-weight: 200;
    line-height: 1.334;
    letter-spacing: 0em;
}
